@model IEnumerable<MyRideTrackerWebApp.Models.Ride>
@{
    ViewData["Title"] = "Home";
}
    <div class="row margin-bottom">
        <div class="col-md-6">
            <img style="width: 100%;" src="~/images/Katherine_Motorcycle_Pic.jpg" />
        </div>
        <div class="col-md-6 text-center">
            <h2>Hi! I'm Katherine Hambley.</h2>
            <h5 class="text-muted">I like to ride my motorcycle! And I like programming.</h5>
            <p>So, being the geek that I am, I combined my two favorite passions and created a web app to track my rides. I'm always adding on new features but I wanted to start with something simple and scale it up.</p> <p>Feel free to take a look around and contact me if you have any questions. Ride on!</p>
            <div class="text-center">
                <div class="btn btn-dark btn-lg"><span class="badge badge-light">@Model.Count()</span><br />Total Rides</div>
                <div class="btn btn-dark btn-lg"><span class="badge badge-light">@Model.Sum(m => m.TotalMiles)</span><br />Total Miles</div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-outline-danger btn-lg btn-block text-center" asp-area="" asp-controller="Rides" asp-action="Create"><i class="icon icon-motorcycle-rider"></i><br />Add Ride</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-outline-warning btn-lg btn-block text-center" asp-area="" asp-controller="Rides" asp-action="Index"><i class="icon icon-motorcycle-goggles"></i><br />View Rides</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-outline-success btn-lg btn-block text-center" asp-area="" asp-controller="Rides" asp-action="Create"><i class="icon icon-motorcycle-flags"></i><br />Add Challenge</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-outline-dark btn-lg btn-block text-center" asp-area="" asp-controller="Rides" asp-action="Create"><i class="icon icon-motorcycle-helmet"></i><br />View Challenges</a>
    </div>
</div>
<hr />


